<kendo-dialog class="export" title="Export Parts" (close)="export('cancel')">
  <ng-container *ngFor="let i of message">
    <alert *ngIf="i" [type]="i.type" (onClosed)="close(i)" [dismissOnTimeout]="4000" [dismissible]="true"> {{ i.value }} </alert>
  </ng-container>
  <div *ngIf="default" [formGroup]="Export">
    <div class="row">
      <div class="col col-md-3">
        <kendo-combobox class="form-control" [data]="accountTypeData" textField="value" valueField="key" placeholder="Load Profile"
          valuePrimitive="true" suggest="true" filterable="true" (selectionChange)="accountChange($event)" (filterChange)="accountTypeFilter($event)" formControlName="Accounttype"></kendo-combobox>
      </div>
      <div class="col col-md-3">
        <kendo-combobox class="form-control" [data]="priceTypeData" textField="value" valueField="key" placeholder="Choose Currency"
          valuePrimitive="true" suggest="true" filterable="true" (filterChange)="priceTypeFilter($event)" formControlName="Currencytype"></kendo-combobox>
      </div>
      <div class="col col-md-3">
        <kendo-combobox class="form-control" [data]="imageTypeData" textField="value" valueField="key" placeholder="Select Image Type"
          valuePrimitive="true" suggest="true" filterable="true" (filterChange)="imageTypeFilter($event)" formControlName="Imagetype"></kendo-combobox>
      </div>
      <div class="col col-md-3">
        <kendo-combobox class="form-control" [data]="exportTypeData" textField="value" valueField="key" placeholder="Export Format"
          valuePrimitive="true" suggest="true" filterable="true" (filterChange)="exportTypeFilter($event)" formControlName="Exporttype"></kendo-combobox>
      </div>
    </div>
    <div class="row format">
      <div class="col col-md-5">
        <kendo-dropdownlist [defaultItem]="defaultAttributes" [data]="attributes" [textField]="'text'" [valueField]="'value'" 
        (selectionChange)="attributeChange($event)"></kendo-dropdownlist>
        <ul class="input">
          <!-- <li *ngFor="let i of attributes" [ngClass]="{'active': $event.target.active}" (click)="add($event.target.value)">{{ i.name }}</li> -->
          <li [ngClass]="{'active':addClicked[l]}" (click)="addItem(i); addClicked[l] = (addClicked[l]? false :true )" *ngFor="let i of inputs; let l = index;">{{ i.value }}</li>
        </ul>
      </div>
      <div class="col col-md-2 arrows">
        <div class="arrow">
          <i class="fa fa-caret-left" [ngClass]="{'disabled': !removeItemsActive}" (click)="removeItems()"></i>
        </div>
        <div class="arrow">
          <i class="fa fa-caret-right" [ngClass]="{'disabled': !addItemsActive}" (click)="addItems()"></i>
        </div>
      </div>
      <div class="col col-md-5">
        <h3>Export</h3>
        <ul class="output">
          <li [ngClass]="{'active':removeClicked[l]}" (click)="removeItem(i); removeClicked[l] = (removeClicked[l]? false :true )"
            *ngFor="let i of outputs; let l = index;">{{ i.value }}</li>
        </ul>
      </div>
    </div>    
  </div>
  
  <div *ngIf="new" [formGroup]="Save">
    <input class="form-control" formControlName="Value" placeholder="Name new profile." />
  </div>


  <kendo-dialog-actions *ngIf="default">
    <button class="k-button" kendoButton (click)="export('cancel')">Cancel</button>
    <button class="k-button" dir="ltr" primary="true" (click)="export('save')" [disabled]="!Export.dirty">Save</button>
    <button class="k-button k-primary" dir="ltr" primary="true" (click)="export('confirm')" [disabled]="!Export.valid">Export</button>
  </kendo-dialog-actions>

  <kendo-dialog-actions *ngIf="new">
      <button class="k-button" kendoButton (click)="export('create-cancel')">Cancel</button>
      <button class="k-button k-primary" dir="ltr" primary="true" (click)="export('create')" [disabled]="!Save.valid">Create</button>
    </kendo-dialog-actions>
</kendo-dialog>
