<kendo-dialog class="export" title="Export Parts" (close)="export('cancel')">
  <ng-container *ngFor="let i of message">
    <alert *ngIf="i" [type]="i.type" (onClosed)="close(i)" [dismissOnTimeout]="4000" [dismissible]="true"> {{ i.value
      }} </alert>
  </ng-container>
  <div *ngIf="default" [formGroup]="Export">
    <div class="row">
      <div class="col col-md-3">
        <kendo-combobox class="form-control" [data]="accountTypeData" textField="ProfileNameValue" valueField="ProfileID"
          placeholder="Load Profile" valuePrimitive="true" suggest="true" filterable="true" (selectionChange)="accountChange($event)"
          formControlName="ProfileId"></kendo-combobox>
      </div>
      <div class="col col-md-3">
        <kendo-combobox class="form-control" [data]="priceTypeData" textField="Value" valueField="Key" placeholder="Choose Currency"
          valuePrimitive="true" suggest="true" filterable="true" formControlName="PriceListKey"></kendo-combobox>
      </div>
      <div class="col col-md-3">
        <kendo-combobox class="form-control" [data]="imageTypeData" textField="Value" valueField="Key" placeholder="Select Image Type"
          valuePrimitive="true" suggest="true" filterable="true" formControlName="ImageTypeKey"></kendo-combobox>
      </div>
      <div class="col col-md-3">
        <kendo-combobox class="form-control" [data]="exportTypeData" textField="Value" valueField="Key" placeholder="Export Format"
          valuePrimitive="true" suggest="true" filterable="true" formControlName="ExportFormatKey"></kendo-combobox>
      </div>
    </div>
    <div class="row format">
      <div class="col col-md-5">
        <kendo-dropdownlist [defaultItem]="defaultAttributes" [data]="attributes" [textField]="'text'" [valueField]="'value'"
          (selectionChange)="attributeChange($event)"></kendo-dropdownlist>
        <ul class="input">
          <ng-container *ngIf="this.type === 'AX'">
            <li [ngClass]="{'active':addClickedAX[l]}" (click)="_addItem(i); addClickedAX[l] = (addClickedAX[l]? false :true )"
              *ngFor="let i of inputs; let l = index;">{{ i.FieldName }}</li>
          </ng-container>
          <ng-container *ngIf="this.type !== 'AX'">
            <li [ngClass]="{'active':addClicked[l]}" (click)="_addItem(i); addClicked[l] = (addClicked[l]? false :true )"
              *ngFor="let i of inputs; let l = index;">{{ i.Name }}</li>
          </ng-container>
        </ul>
      </div>
      <div class="col col-md-2 arrows">
        <div class="arrow">
          <i class="fa fa-caret-left" [ngClass]="{'disabled': !removeItemsActive}" (click)="removeItems()"></i>
        </div>
        <div class="arrow">
          <i class="fa fa-caret-right" [ngClass]="{'disabled': !addItemsActive}" (click)="addItems()"></i>
        </div>
      </div>
      <div class="col col-md-5">
        <h3>Export</h3>
        <ul class="output">
          <li [ngClass]="{'active':removeClicked[l]}" (click)="_removeItem(i); removeClicked[l] = (removeClicked[l]? false :true )"
            *ngFor="let i of outputs; let l = index;">
            <span *ngIf="i.type == 'PIM'">
              <span class="marker">{{i.type}}</span> {{ i.Name }}
            </span>
            <span *ngIf="i.type == 'AX'">
              <span class="marker">{{i.type}}</span> {{ i.FieldName }}
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div *ngIf="new" [formGroup]="Save">
    <input class="form-control" formControlName="ProfileName" placeholder="Name new profile." />
  </div>

  <kendo-dialog-actions *ngIf="default">
    <button class="k-button" kendoButton (click)="export('cancel')">Cancel</button>
    <button class="k-button" dir="ltr" primary="true" (click)="export('save')" [disabled]="!Export.valid && !Save.dirty">Save</button>
    <button class="k-button k-primary" dir="ltr" primary="true" (click)="export('confirm')" [disabled]="!Export.valid">Export</button>
  </kendo-dialog-actions>

  <kendo-dialog-actions *ngIf="new">
    <button class="k-button" kendoButton (click)="export('create-cancel')">Cancel</button>
    <button *ngIf="!update" class="k-button k-primary" dir="ltr" primary="true" (click)="export('create')" [disabled]="!Save.valid">Create</button>
    <button *ngIf="update" class="k-button k-primary" dir="ltr" primary="true" (click)="export('create')" [disabled]="!Save.dirty">Update</button>
  </kendo-dialog-actions>
</kendo-dialog>
