<kendo-dialog class="parts" title="Manage Parts" (close)="parts('cancel')">
  <ng-container *ngFor="let i of message">
    <alert *ngIf="i" [type]="i.type" (onClosed)="close(i)" [dismissOnTimeout]="4000" [dismissible]="true"> {{ i.value
      }} </alert>
  </ng-container>

  <input kendoTextBox class="form-control parts-input" (keyup)="selectionclick($event)" [placeholder]="'Search an Attribute'"
    *ngIf="showAttributes" />

  <div class="row padding">
    <table class="table table-hover" *ngIf="showAttributes">
      <thead>
        <tr>
          <td *ngIf="part.length === 1" width="50"></td>
          <td>Name</td>
          <td>Type</td>
          <td>Multiple</td>
          <td>UOM</td>
        </tr>
      </thead>
      <tbody *ngIf="attributeFeatures">
        <tr *ngIf="!dataAttribute.length">
          <td colspan="5" class="text-center">No Results Found</td>
        </tr>

        <tr *ngFor="let x of dataAttribute; let i = index;">
          <td *ngIf="part.length === 1">
            <ng-container *ngFor="let i of count">
              <span class="parts-tooltip" *ngIf="x.AttributeID == i.AttributeId"> {{ i.SelectedCount }}</span>
            </ng-container>
          </td>
          <td>
            <a (click)="manageAttribute(x)">{{ x.Name }}</a>
          </td>
          <td>
            <span>{{ x.AttributeType.Value }}</span>
          </td>
          <td>
            <span *ngIf="x.Multiselect === true">Yes</span>
            <span *ngIf="x.Multiselect === false">No</span>
          </td>
          <td>
            <span *ngIf="x.UOMKey">{{ x.UnitOfMeasure.Value }}</span>
          </td>
        </tr>
      </tbody>
    </table>

    <h3 *ngIf="showFeatures">Selected Attribute: {{ selectedAttribute.Name }}</h3>

    <table class="table table-hover" *ngIf="showFeatures">
      <!-- Attribute Type String -->
      <ng-container *ngIf="selectedAttribute.AttributeType.Value == 'String'">
        <thead>
          <tr>
            <td></td>
            <td>Name</td>
            <td>Details</td>
          </tr>
        </thead>
        <tbody *ngIf="attributeFeatures">
          <tr *ngIf="!attributeFeatures.length">
            <td colspan="3" class="text-center">No attributes were added to this attribute</td>
          </tr>
          <tr *ngFor="let x of attributeFeatures; let i = index;">
            <td>
              <span *ngIf="selectedAttribute.Multiselect"><input [checked]="selected(x.AttributeValueID)" type="checkbox" (click)="_selectedFeature(x)" /></span>
              <span *ngIf="!selectedAttribute.Multiselect"><input [checked]="selected(x.AttributeValueID)" type="radio" name="feature" [value]="x.AttributeValueID" (click)="_selectedFeature(x, 'radio')" /></span>
            </td>
            <td>{{ x.StringValue }}</td>
            <td>{{ x.StringDetail }}</td>
          </tr>
        </tbody>
      </ng-container>

      <!-- Attribute Type Number -->
      <ng-container *ngIf="selectedAttribute.AttributeType.Value == 'Numeric'">
        <thead>
          <tr>
            <td></td>
            <td>Value</td>
            <td>UOM</td>
          </tr>
        </thead>
        <tbody *ngIf="attributeFeatures">
          <tr *ngIf="!attributeFeatures.length">
            <td colspan="3" class="text-center">No attributes were added to this attribute</td>
          </tr>
          <tr *ngFor="let x of attributeFeatures; let i = index;">
            <td>
              <span *ngIf="selectedAttribute.Multiselect"><input [checked]="selected(x.AttributeValueID)" type="checkbox" (click)="_selectedFeature(x)" /></span>
              <span *ngIf="!selectedAttribute.Multiselect"><input [checked]="selected(x.AttributeValueID)" type="radio" name="feature" [value]="x.AttributeValueID" (click)="_selectedFeature(x, 'radio')" /></span>
            </td>
            <td>{{ x.NumericValue }}</td>
            <td>{{ selectedAttribute.UnitOfMeasure.Value }}</td>
          </tr>
        </tbody>
      </ng-container>

      <!-- Attribute Type File -->
      <ng-container *ngIf="selectedAttribute.AttributeType.Value == 'File'">
        <thead>
          <tr>
            <td></td>
            <td>Name</td>
          </tr>
        </thead>
        <tbody *ngIf="selectedAttribute">
          <tr *ngIf="!attributeFeatures.length">
            <td colspan="3" class="text-center">No attributes were added to this attribute</td>
          </tr>
          <tr *ngFor="let x of attributeFeatures; let i = index;">
            <td>
              <span *ngIf="selectedAttribute.Multiselect"><input [checked]="selected(x.AttributeValueID)" type="checkbox" (click)="_selectedFeature(x)" /></span>
              <span *ngIf="!selectedAttribute.Multiselect"><input [checked]="selected(x.AttributeValueID)" type="radio" name="feature" [value]="x.AttributeValueID" (click)="_selectedFeature(x, 'radio')" /></span>
            </td>
            <td><a [href]="x.Source" target="_blank">{{ x.FileValue }}</a></td>
          </tr>
        </tbody>
      </ng-container>
    </table>
  </div>

  <kendo-dialog-actions *ngIf="showFeatures">
    <button class="k-button" kendoButton (click)="parts('main')">Back</button>
    <button class="k-button k-primary" dir="ltr" primary="true" (click)="parts('add')" [disabled]="!featureList">Add</button>
  </kendo-dialog-actions>
</kendo-dialog>
