<section class="app-viewer">
  <div class="row actions">
    <div class="col-md-6">
      <button id="filter" type="button" class="btn" (click)="popup('filter')">Filter Results
        <i class="fa fa-cog"></i>
      </button>
    </div>
    <div class="col-md-6 align-right">
      <button type="button" class="btn btn-primary" (click)="popup('parts')" [disabled]="!part.length">Manage Parts</button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <kendo-grid (detailExpand)="moreInfo($event)" [selectable]="true" [data]="gridData" [pageSize]="pageSize"
        [skip]="skip" [pageable]="true" [sortable]="true" (pageChange)="pageChange($event)">
        <kendo-grid-column filter="none" title="" width="35">
          <ng-template kendoGridCellTemplate let-dataItem>
            <input (click)="partSelect(dataItem.PartID)" type="checkbox" />
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column width="150" field="PartID" title="Part #" filter="numeric"></kendo-grid-column>
        <kendo-grid-column width="150" field="Brand" title="Brand"></kendo-grid-column>
        <kendo-grid-column field="Description" title="Description"></kendo-grid-column>
        <ng-template kendoGridDetailTemplate let-dataItem let-rowIndex="rowIndex">
          <ul *ngFor="let i of moreDetail[rowIndex] | keys; let x = index">
            <ng-container *ngIf="x > 1">
              <li><strong>{{ i.key }}</strong> {{ i.value }}</li>
            </ng-container>
          </ul>
        </ng-template>
      </kendo-grid>
    </div>
  </div>

</section>

<!-- FILTER -->
<filter *ngIf="FOpened" (grid)="update($event)" (open)="filter($event)"></filter>

<!-- PARTS -->
<parts *ngIf="POpened" (open)="parts($event)" [part]="part"></parts>
