<!-- MANAGE -->
<kendo-dialog class="manage" title="Manage Attributes" (close)="manage('close')">
  <ng-container *ngFor="let i of message">
    <alert *ngIf="i" [type]="i.type" (onClosed)="close(i)" [dismissOnTimeout]="4000" [dismissible]="true">
      <div [innerHtml]="i.value"></div>
    </alert>
  </ng-container>
  <div class="row">
    <div class="list-attributes" *ngIf="groupView">
      <input [(ngModel)]="listUnits" kendoTextBox class="form-control" placeholder="Filter Attributes" type="text"
        (keyup)="filterAttribute($event)" />
    </div>
    <div class="selected-attribute" *ngIf="singleView || singleAdd || singleEdit">
      <h3 class="title">
        Attribute: {{singleSelectedValue.Name}}
      </h3>
    </div>

    <div class="selected-attribute" *ngIf="groupCreate">
      <h3 class="title">
        Create Attribute
      </h3>
    </div>
  </div>
  <div class="row">
    <!-- GROUP - GROUP -->
    <table class="table table-hover sp" [formGroup]="Attributes" *ngIf="groupAttribute">
      <thead>
        <tr>
          <td></td>
          <td>Name</td>
          <td width="80">Multiple</td>
          <td width="90">Type</td>
          <td>UOM</td>
          <td width="40" *ngIf="groupDelete || groupEdit"></td>
        </tr>
      </thead>
      <tbody formArrayName="items">
        <tr *ngIf="!inputsAttributes.length">
          <td colspan="7" class="text-center">No Results Found</td>
        </tr>
        <tr *ngFor="let x of Attributes.controls['items'].controls; let i = index;" [formGroupName]="i">
          <td width="50">{{ i + 1 }}</td>
          <td>
            <input *ngIf="editStep == i" type="text" class="form-control" formControlName="Name" />
            <span *ngIf="editStep !== i">
              <a *ngIf="editStep == null" class="cursor" (click)="manageSingleUnit(x)">{{ x.value.Name }}</a>
              <span *ngIf="editStep !== null">{{ x.value.Name }}</span>
            </span>
          </td>
          <td>
            <span *ngIf="x.value.Multiselect">Yes</span>
            <span *ngIf="!x.value.Multiselect">No</span>
          </td>
          <td>
            <span *ngIf="x.value.TypeKey === 'Numeric'">Numeric</span>
            <span *ngIf="x.value.TypeKey === 'String'">String</span>
            <span *ngIf="x.value.TypeKey === 'File'">File</span>
          </td>
          <td><span *ngIf="x.value.UOMKey">{{ x.value.UOMKey }}</span></td>
          <td *ngIf="groupDelete || groupEdit">
            <span *ngIf="groupDelete" class="fa fa-times-circle pull-right cursor" (click)="removeGroupStep(x.value, i)"></span>
            <span *ngIf="groupEdit" (click)="editGroupStep(x.value.AttributeID, i)" class="fa fa-pencil cursor"></span>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- GROUP - SINGLE -->
    <table class="table table-hover sp" [formGroup]="Attribute" *ngIf="singleAttribute">
      <!-- Number -->
      <ng-container *ngIf="!attributeString && singleSelectedValue['TypeKey'] !== 'File'">
        <thead>
          <tr>
            <td width="60"></td>
            <td>Number</td>
            <td>Unit</td>
            <td width="40" *ngIf="singleDelete || singleEdit"></td>
          </tr>
        </thead>
        <tbody formArrayName="items">
          <tr *ngIf="!Attribute.controls['items'].value.length">
            <td colspan="3">Please Add an Attribute</td>
          </tr>
          <tr *ngFor="let x of Attribute.controls['items'].controls; let i = index;" [formGroupName]="i">
            <td>{{ i + 1 }}</td>
            <td>
              <input *ngIf="editStep == i" type="number" class="form-control" formControlName="NumericValue" />
              <span *ngIf="editStep !== i">{{ x.value.NumericValue }}</span>
            </td>
            <td>{{ singleSelectedValue.UOMKey }}</td>

            <td *ngIf="singleDelete || singleEdit">
              <span *ngIf="singleDelete" class="fa fa-times-circle pull-right cursor" (click)="removeSingleStep(x.value, i)"></span>
              <span *ngIf="singleEdit" class="fa fa-pencil cursor" (click)="editSingleStep(x.value.AttributeValueID, i)"></span>
            </td>
          </tr>
        </tbody>
      </ng-container>

      <!-- String -->
      <ng-container *ngIf="attributeString && singleSelectedValue['TypeKey'] !== 'File'">
        <thead>
          <tr>
            <td width="60"></td>
            <td>Name</td>
            <td>Details</td>
            <td width="40" *ngIf="singleDelete || singleEdit"></td>
          </tr>
        </thead>
        <tbody formArrayName="items">
          <tr *ngIf="!Attribute.controls['items'].value.length">
            <td colspan="4">Please Add Attribute</td>
          </tr>
          <tr *ngFor="let x of Attribute.controls['items'].controls; let i = index;" [formGroupName]="i">
            <td>
              {{ i + 1 }}
            </td>
            <td>
              <input *ngIf="editStep == i" type="text" class="form-control" formControlName="StringValue" />
              <span *ngIf="editStep !== i">{{ x.value.StringValue }}</span>
            </td>
            <td>
              <input *ngIf="editStep == i" type="text" class="form-control" formControlName="StringDetail" />
              <span *ngIf="editStep !== i">{{ x.value.StringDetail }}</span>
            </td>
            <td *ngIf="singleDelete || singleEdit">
              <span *ngIf="singleDelete" class="fa fa-times-circle pull-right cursor" (click)="removeSingleStep(x.value, i)"></span>
              <span *ngIf="singleEdit" class="fa fa-pencil cursor" (click)="editSingleStep(x.value.AttributeValueID, i)"></span>
            </td>
          </tr>
        </tbody>
      </ng-container>

      <!--File-->
      <ng-container *ngIf="singleSelectedValue['TypeKey'] == 'File'">
        <thead>
          <tr>
            <td width="60"></td>
            <td width="40"></td>
            <td>File Name</td>
            <td width="40" *ngIf="singleDelete || singleEdit"></td>
          </tr>
        </thead>
        <tbody formArrayName="items">
          <tr *ngIf="!Attribute.controls['items'].value.length">
            <td colspan="4">Please Add Attribute</td>
          </tr>
          <tr *ngFor="let x of Attribute.controls['items'].controls; let i = index;" [formGroupName]="i">
            <td>
              {{ i + 1 }}
            </td>
            <td>
              <span *ngIf="x.value.Extension === '.pdf'" class="fa fa-file-pdf-o"></span>
              <span *ngIf="x.value.Extension === '.mp4'" class="fa fa-file-video-o"></span>
              <span *ngIf="x.value.Extension === '.mp3'" class="fa fa-file-audio-o"></span>
              <span *ngIf="x.value.Extension === '.docx'" class="fa fa-file-word-o"></span>
              <span *ngIf="x.value.Extension === '.ppt' || x.value.Extension === '.pptx'" class="fa fa-file-powerpoint-o"></span>
              <span *ngIf="x.value.Extension === '.xlsx' || x.value.Extension === '.csv'" class="fa fa-file-excel-o"></span>
              <span *ngIf="x.value.Extension === '.zip'" class="fa fa-file-archive-o"></span>
              <span *ngIf="x.value.Extension === '.txt'" class="fa fa-file-text-o"></span>
              <span *ngIf="x.value.Extension === '.svg' || x.value.Extension === '.json'" class="fa fa-file-code-o"></span>
              <span *ngIf="x.value.Extension === '.png' || x.value.Extension === '.gif' || x.value.Extension === '.jpg' || x.value.Extension === '.jpeg'"
                class="fa fa-file-image-o"></span>
            </td>
            <td>
              <a *ngIf="editStep !== i" [href]="x.value.Source" target="_blank">{{ x.value.FileValue }}</a>
              <input *ngIf="editStep == i" type="file" (change)="formData($event.target.files[0])" />
            </td>
            <td *ngIf="singleDelete || singleEdit">
              <span *ngIf="singleDelete" class="fa fa-times-circle pull-right cursor" (click)="removeUploadFile(x.value.AttributeValueID, i)"></span>
              <span *ngIf="singleEdit" class="fa fa-pencil cursor" (click)="editSingleStep(x.value.AttributeValueID, i)"></span>
            </td>
          </tr>
        </tbody>
      </ng-container>
    </table>

    <!-- ADD - SINGLE -->
    <table class="table table-hover sp" [formGroup]="Add" *ngIf="singleAdd">
      <!-- Number -->
      <ng-container *ngIf="singleSelectedValue['TypeKey'] == 'Numeric'">
        <thead>
          <tr>
            <td width="200">Number</td>
            <td width="100">Unit</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <input type="number" class="form-control" formControlName="NumericValue" />
            </td>
            <td>
              {{ singleSelectedValue.UOMKey }}
            </td>
          </tr>
        </tbody>
      </ng-container>

      <!-- String -->
      <ng-container *ngIf="singleSelectedValue['TypeKey'] == 'String'">
        <thead>
          <tr>
            <td>Name</td>
            <td>Details</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <input type="text" class="form-control" formControlName="StringValue" />
            </td>
            <td>
              <input type="text" class="form-control" formControlName="StringDetail" />
            </td>
          </tr>
        </tbody>
      </ng-container>

      <!--File Upload-->
      <ng-container *ngIf="singleSelectedValue['TypeKey'] == 'File'">
        <tbody>
          <tr>
            <td>
              <div class="box">
                <div class="box__input">
                  <i class="fa fa-upload box__icon"></i>
                  <input class="box__file" type="file" name="files" id="file" formControlName="File" (change)="formData($event.target.files[0])" />
                  <label for="file">Choose a file to upload.</label>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </ng-container>
    </table>

    <!-- ADD - GROUP -->
    <table class="table table-hover sp" [formGroup]="Create" *ngIf="groupCreate">
      <thead>
        <tr>
          <td>Name</td>
          <td>Multiple</td>
          <td>Type</td>
          <td *ngIf="attributeUnit">Unit</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <input type="text" class="form-control" formControlName="Name" />
          </td>
          <td>
            <kendo-switch [onLabel]="'Yes'" [offLabel]="'No'" formControlName="Multiselect"></kendo-switch>
          </td>
          <td>
            <kendo-dropdownlist class="form-control" [data]="type" valueField="Key" textField="Value" [valuePrimitive]="true"
              formControlName="TypeKey" (valueChange)="typeChange($event)">
            </kendo-dropdownlist>
          </td>
          <td *ngIf="attributeUnit">
            <kendo-dropdownlist class="form-control" [data]="unit" valueField="Key" textField="Value" [valuePrimitive]="true"
              formControlName="UOMKey">
            </kendo-dropdownlist>
          </td>
      </tbody>
    </table>
  </div>


  <kendo-dialog-actions id="attribute-group" *ngIf="groupView">
    <button class="k-button" (click)="manage('group-edit')">Edit</button>
    <button class="k-button" (click)="manage('group-delete')">Delete</button>
    <button class="k-button k-primary" dir="ltr" primary="true" (click)="manage('group-create')">Create</button>
  </kendo-dialog-actions>

  <kendo-dialog-actions id="attribute-single" *ngIf="singleView">
    <button class="k-button" type="button" (click)="manage('single-back')">Back</button>
    <button class="k-button" (click)="manage('single-edit')">Edit</button>
    <button class="k-button" (click)="manage('single-delete')" *ngIf="singleSelectedValue['TypeKey'] != 'File'">Delete</button>
    <button class="k-button k-primary" dir="ltr" primary="true" (click)="manage('single-add')">Add</button>
  </kendo-dialog-actions>

  <kendo-dialog-actions id="attribute-single-confirm" *ngIf="singleSelect">
    <button class="k-button" (click)="manage('single-cancel')">Cancel</button>
    <button *ngIf="singleEditConfirm && singleSelectedValue['TypeKey'] != 'File'" class="k-button k-primary" dir="ltr" primary="true" (click)="manage('single-confirm')"
      [disabled]="!Attribute.dirty">Confirm</button>
      <button *ngIf="singleEditConfirm && singleSelectedValue['TypeKey'] == 'File'" class="k-button k-primary" dir="ltr" primary="true" (click)="manage('single-confirm')"
      [disabled]="!files">Confirm</button>
    <button *ngIf="singleAdd" class="k-button k-primary" dir="ltr" primary="true" (click)="manage('single-confirm')"
      [disabled]="!Add.valid">Confirm</button>
  </kendo-dialog-actions>

  <kendo-dialog-actions id="attribute-group-confirm" *ngIf="groupSelect">
    <button class="k-button" (click)="manage('group-cancel')">Cancel</button>
    <button *ngIf="groupEditConfirm" class="k-button k-primary" dir="ltr" primary="true" (click)="manage('group-confirm')"
      [disabled]="!Attributes.dirty">Confirm</button>
    <button *ngIf="groupCreate" class="k-button k-primary" dir="ltr" primary="true" (click)="manage('group-confirm')"
      [disabled]="!Create.valid">Confirm</button>
  </kendo-dialog-actions>
</kendo-dialog>
